.btn-primary {
    color: #fff;
    background-color: hsla(208,56%,60%,1);
    border-color: hsla(208,56%,50%,1);
}

.btn-danger {
    color: #fff;
    background-color: hsla(2,64%,60%,1);
    border-color: hsla(2,64%,50%,1);
}

.btn-primary.active {
    color: #fff;
    background-color: hsla(208,56%,30%,1);
    border-color: hsla(208,56%,20%,1);
}

.btn-danger.active {
    color: #fff;
    background-color: hsla(2,64%,30%,1);
    border-color: hsla(2,64%,20%,1);
}